<a href="https://colab.research.google.com/github/647qqq/Math152-Programming4Math/blob/main/Exploration_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The $3n + 1$ Conjecture 
### by Group Horrendum (Thomas Diem, Yijia Sun, Kaiyuan Bai, Siqi Liu)

### Introduction

In this project, we will explore the $3n + 1$ conjecture, also known as the Collatz conjecture. Let us introduce the $3n + 1$ conjecture first. The conjecture begins with a positive integer $n$ and will generate a sequence of numbers. If $n$ is even, divide $n$ by two, i.e., $\frac{n}{2}$, and this will be the new $n$. If $n$ is odd, multiple $n$ by $3$ plus $1$, i.e., $3n + 1$, and this will be the new $n$. Then repeat the above process. We found that for any positive integer $n$, the resulting sequence will eventually enters a cycle $4, 2, 1, 4, 2, 1, \cdots$. 

In this section, we will use python to implement the $3n + 1$ conjecture for all positive integer $n$ by defining a function.

In [1]:
#Thomas Diem

for n in range(1, 10):
  i = 0
  m = n
  while n !=1:
    if n % 2 == 0:
      n = n/2
      i +=1 
    else:
      n = 3*n +1
      i +=1 
  print(f"The number {m} takes {i} steps to reach 1.")

The number 1 takes 0 steps to reach 1.
The number 2 takes 1 steps to reach 1.
The number 3 takes 7 steps to reach 1.
The number 4 takes 2 steps to reach 1.
The number 5 takes 5 steps to reach 1.
The number 6 takes 8 steps to reach 1.
The number 7 takes 16 steps to reach 1.
The number 8 takes 3 steps to reach 1.
The number 9 takes 19 steps to reach 1.

In [2]:
#Yijia Sun

def conjec(n):
  list = []
  while n > 1: #This step allows the loop to stop before the cycle 4,2,1.
    if n % 2 == 0: #if n is even
      n = n / 2
    elif n % 2 == 1: #if n is odd
      n = 3 * n + 1
    list.append(int(n)) #add the integer form of n into the empty list
  return list
conjec(60)

[30, 15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]

In [3]:
# kaiyuan Bai
def check_conjecture(n):
    while n != 4:
        if n % 2 == 0:
            n = n // 2
        elif n % 2 == 1:
            n = 3*n + 1

    return True

check_conjecture(10001)

True

In [4]:
# Siqi Liu

# For all integers n > 0

def conjecture(n):

  print("Let's start with {}.".format(n))
  i = 0 # initialize the loop
  
  while n > 1: # n is a positive integer 
  # n > 1 becasue the sequence will enter a cycle of 4,2,1,4,2,1, ... 
  # and a positive number /, *, + a positive number is always a positive number (i.e., n > 0)
  # if n > 0, the while loop will not stop. 

    i += 1 # loop 

    if n % 2 == 0: # n is even 

      new_n = n / 2
      print("{} loop: {} / 2 = {}".format(i, int(n), int(new_n)))
      n = new_n

    else: # n is odd

      new_n = 3*n + 1
      print("{} loop: 3 * {} + 1 = {}".format(i, int(n), int(new_n)))
      n = new_n

In [5]:
conjecture(10**6 + 1)

Let's start with 1000001.
1 loop: 3 * 1000001 + 1 = 3000004
2 loop: 3000004 / 2 = 1500002
3 loop: 1500002 / 2 = 750001
4 loop: 3 * 750001 + 1 = 2250004
5 loop: 2250004 / 2 = 1125002
6 loop: 1125002 / 2 = 562501
7 loop: 3 * 562501 + 1 = 1687504
8 loop: 1687504 / 2 = 843752
9 loop: 843752 / 2 = 421876
10 loop: 421876 / 2 = 210938
11 loop: 210938 / 2 = 105469
12 loop: 3 * 105469 + 1 = 316408
13 loop: 316408 / 2 = 158204
14 loop: 158204 / 2 = 79102
15 loop: 79102 / 2 = 39551
16 loop: 3 * 39551 + 1 = 118654
17 loop: 118654 / 2 = 59327
18 loop: 3 * 59327 + 1 = 177982
19 loop: 177982 / 2 = 88991
20 loop: 3 * 88991 + 1 = 266974
21 loop: 266974 / 2 = 133487
22 loop: 3 * 133487 + 1 = 400462
23 loop: 400462 / 2 = 200231
24 loop: 3 * 200231 + 1 = 600694
25 loop: 600694 / 2 = 300347
26 loop: 3 * 300347 + 1 = 901042
27 loop: 901042 / 2 = 450521
28 loop: 3 * 450521 + 1 = 1351564
29 loop: 1351564 / 2 = 675782
30 loop: 675782 / 2 = 337891
31 loop: 3 * 337891 + 1 = 1013674
32 loop: 1013674 / 2 = 506837
33 loop: 3 * 506837 + 1 = 1520512
34 loop: 1520512 / 2 = 760256
35 loop: 760256 / 2 = 380128
36 loop: 380128 / 2 = 190064
37 loop: 190064 / 2 = 95032
38 loop: 95032 / 2 = 47516
39 loop: 47516 / 2 = 23758
40 loop: 23758 / 2 = 11879
41 loop: 3 * 11879 + 1 = 35638
42 loop: 35638 / 2 = 17819
43 loop: 3 * 17819 + 1 = 53458
44 loop: 53458 / 2 = 26729
45 loop: 3 * 26729 + 1 = 80188
46 loop: 80188 / 2 = 40094
47 loop: 40094 / 2 = 20047
48 loop: 3 * 20047 + 1 = 60142
49 loop: 60142 / 2 = 30071
50 loop: 3 * 30071 + 1 = 90214
51 loop: 90214 / 2 = 45107
52 loop: 3 * 45107 + 1 = 135322
53 loop: 135322 / 2 = 67661
54 loop: 3 * 67661 + 1 = 202984
55 loop: 202984 / 2 = 101492
56 loop: 101492 / 2 = 50746
57 loop: 50746 / 2 = 25373
58 loop: 3 * 25373 + 1 = 76120
59 loop: 76120 / 2 = 38060
60 loop: 38060 / 2 = 19030
61 loop: 19030 / 2 = 9515
62 loop: 3 * 9515 + 1 = 28546
63 loop: 28546 / 2 = 14273
64 loop: 3 * 14273 + 1 = 42820
65 loop: 42820 / 2 = 21410
66 loop: 21410 / 2 = 10705
67 loop: 3 * 10705 + 1 = 32116
68 loop: 32116 / 2 = 16058
69 loop: 16058 / 2 = 8029
70 loop: 3 * 8029 + 1 = 24088
71 loop: 24088 / 2 = 12044
72 loop: 12044 / 2 = 6022
73 loop: 6022 / 2 = 3011
74 loop: 3 * 3011 + 1 = 9034
75 loop: 9034 / 2 = 4517
76 loop: 3 * 4517 + 1 = 13552
77 loop: 13552 / 2 = 6776
78 loop: 6776 / 2 = 3388
79 loop: 3388 / 2 = 1694
80 loop: 1694 / 2 = 847
81 loop: 3 * 847 + 1 = 2542
82 loop: 2542 / 2 = 1271
83 loop: 3 * 1271 + 1 = 3814
84 loop: 3814 / 2 = 1907
85 loop: 3 * 1907 + 1 = 5722
86 loop: 5722 / 2 = 2861
87 loop: 3 * 2861 + 1 = 8584
88 loop: 8584 / 2 = 4292
89 loop: 4292 / 2 = 2146
90 loop: 2146 / 2 = 1073
91 loop: 3 * 1073 + 1 = 3220
92 loop: 3220 / 2 = 1610
93 loop: 1610 / 2 = 805
94 loop: 3 * 805 + 1 = 2416
95 loop: 2416 / 2 = 1208
96 loop: 1208 / 2 = 604
97 loop: 604 / 2 = 302
98 loop: 302 / 2 = 151
99 loop: 3 * 151 + 1 = 454
100 loop: 454 / 2 = 227
101 loop: 3 * 227 + 1 = 682
102 loop: 682 / 2 = 341
103 loop: 3 * 341 + 1 = 1024
104 loop: 1024 / 2 = 512
105 loop: 512 / 2 = 256
106 loop: 256 / 2 = 128
107 loop: 128 / 2 = 64
108 loop: 64 / 2 = 32
109 loop: 32 / 2 = 16
110 loop: 16 / 2 = 8
111 loop: 8 / 2 = 4
112 loop: 4 / 2 = 2
113 loop: 2 / 2 = 1

### Negative integers $n$

From the above section, we have seen that for all positive integers $n$, the $3n+1$ conjecture will generate a sequence that goes into a cycle of $4,2,1$. Now let us see what happens if $n$ is a negative integer? 

First, we will check if the sequence will end up entering a loop. If there are two same numbers $a$ in the sequence, this means the sequence enters a loop at the second $a$. 

In Python, we will convert the sequence into a list and use the list to check if the sequence will enter a loop and when.  Every time we get an `n`, if `n` is not in the list, `n` will be added to the list and will generate the next `n`. If `n` is already in the list, this means the sequence enters a loop and we will stop right there. We will modify the above `conjecture()` function.

In [6]:
# Let's allow negative numbers in the 3n + 1 conjecture. 

def conjecture_2(n):

  print("Let's start with {}.".format(n))
  i = 0 # initialize the loop

  conjecture_list = list() # initialize the sequence of numbers

  while n: # n is an integer

      i += 1 # loop 

      if n not in conjecture_list:
        
        conjecture_list.append(int(n)) # add n to the conjecture list

      else: # if n equals to any previous number

        break # stop the loop 

      if n % 2 == 0: # n is even 

        new_n = n / 2
        print("{} loop: {} / 2 = {}".format(i, int(n), int(new_n)))
        n = new_n

      else: # n is odd

        new_n = 3*n + 1
        print("{} loop: 3 * {} + 1 = {}".format(i, int(n), int(new_n)))
        n = new_n
      
  print(conjecture_list)
  print("The sequence enters a cycle from {}.".format(int(n)))

In [7]:
conjecture_2(-26)

Let's start with -26.
1 loop: -26 / 2 = -13
2 loop: 3 * -13 + 1 = -38
3 loop: -38 / 2 = -19
4 loop: 3 * -19 + 1 = -56
5 loop: -56 / 2 = -28
6 loop: -28 / 2 = -14
7 loop: -14 / 2 = -7
8 loop: 3 * -7 + 1 = -20
9 loop: -20 / 2 = -10
10 loop: -10 / 2 = -5
11 loop: 3 * -5 + 1 = -14
[-26, -13, -38, -19, -56, -28, -14, -7, -20, -10, -5]
The sequence enters a cycle from -14.

In [8]:
conjecture_2(-(2)**10)

Let's start with -1024.
1 loop: -1024 / 2 = -512
2 loop: -512 / 2 = -256
3 loop: -256 / 2 = -128
4 loop: -128 / 2 = -64
5 loop: -64 / 2 = -32
6 loop: -32 / 2 = -16
7 loop: -16 / 2 = -8
8 loop: -8 / 2 = -4
9 loop: -4 / 2 = -2
10 loop: -2 / 2 = -1
11 loop: 3 * -1 + 1 = -2
[-1024, -512, -256, -128, -64, -32, -16, -8, -4, -2, -1]
The sequence enters a cycle from -2.

In [9]:
#Let's define a new function which only returns the number where the loop goes into a cycle.
def new_conjecture(n):

  i = 0 # initialize the loop

  conjecture_list = list() # initialize the sequence of numbers

  while n: # n is an integer

      i += 1 # loop 

      if n not in conjecture_list:
        
        conjecture_list.append(int(n)) # add n into the conjecture list

      else: # if the new number equals to any previous number

        break 

      if n % 2 == 0: # n is even 

        new_n = n / 2
        n = new_n

      else: # n is odd

        new_n = 3*n + 1
        n = new_n
      
  return int(n) #return the number which already exists in the sequence, or where the loop goes into cycle

In [10]:
def check_conjec(n): #create a function that categorize all numbers up to n by the number where the loop goes into cycle
  list_1 = [] #create an empty list for numbers' cycle starts from -2
  list_2 = [] #create an empty list for numbers' cycle starts from itself
  list_3 = [] #create an empty list for numbers' cycle starts from -14
  list_4 = [] #create an empty list for numbers' cycle starts from unpredictable number
  for x in range(n,0):
    if new_conjecture(x) == -2:
      list_1.append(x)
    elif new_conjecture(x) == x:
      list_2.append(x)
    elif new_conjecture(x) == -14:
      list_3.append(x)
    else:
      list_4.append(x)
  print("These numbers' cycle starts from -2:", list_1)
  print("These numbers' cycle starts from itself:", list_2)
  print("These numbers' cycle starts from -14:", list_3)
  print("These numbers' cycle starts from unpredictable number:", list_4)

Now let us see the cyclical patterns of the $3n + 1$ conjecture for the first $50$ negative integers (exclude $-1$), i.e., $-2, -3, \cdots, -50$.

In [11]:
check_conjec(-50)

These numbers' cycle starts from -2: [-48, -44, -43, -39, -32, -30, -29, -24, -22, -16, -15, -12, -11, -8, -6, -4, -3, -2]
These numbers' cycle starts from itself: [-50, -41, -37, -34, -25, -20, -17, -14, -10, -7, -5, -1]
These numbers' cycle starts from -14: [-47, -38, -36, -35, -28, -26, -19, -18, -13, -9]
These numbers' cycle starts from unpredictable number: [-49, -46, -45, -42, -40, -33, -31, -27, -23, -21]

If we allow negative numbers, it will also create an infinitely loop. For any positive numbers, as the loop goes, the loop will enter a cycle  4,2,1,4,2,1... However, for negative numbers, the loop will enter a random cycle that we cannot predict. \
We checked all negative integers bigger than (-50) and didn't find any specific pattern.

### Dropping time of $n$ 

In this section, we will explore the dropping time of a positive integer $n$. Let us denote the dropping time as $σ(n)$. Dropping time $σ(n)$ is the position where the sequence starts at $n$ to drops to a smaller number. To be specific, the position of the first number that is smaller than $n$ is the dropping time of $n$.

In Python, we want to find the position of that number. `n` will be changing as the while loop goes, so we will set a variable `initial_n` to the value of `n`, which is the same as the $n$ in $σ(n)$. Every time we get a new `n`, Python will compare the new `n` and `initial_n`. If `n` < `initial_n`, Python will return the position, and this is $σ(n)$. Otherwise, the while loop will keep going.

In [12]:
def dropping_time(n):

  i = 0 # initilize the loop
  initial_n = n # original n
  
  while n > 1: # n is a positive integer 

    i += 1 # loop 

    if n % 2 == 0: # n is even 

      n = n / 2

    else: # n is odd

      n = 3*n + 1

    if n < initial_n: 
      return i

In [13]:
dropping_time(17)

3

Notice that if the positive integer $n$ is even, $\sigma(n) = 1$. This is because if $n$ is even, the next $n$ is $\frac{n}{2}$ and $\frac{n}{2} < n$. We will check the dropping time of the first $50$ even numbers.

In [14]:
even_num = list(range(2,101,2))
for num in even_num:
  print("The dropping time of {} is {}.".format(num, dropping_time(num)))

The dropping time of 2 is 1.
The dropping time of 4 is 1.
The dropping time of 6 is 1.
The dropping time of 8 is 1.
The dropping time of 10 is 1.
The dropping time of 12 is 1.
The dropping time of 14 is 1.
The dropping time of 16 is 1.
The dropping time of 18 is 1.
The dropping time of 20 is 1.
The dropping time of 22 is 1.
The dropping time of 24 is 1.
The dropping time of 26 is 1.
The dropping time of 28 is 1.
The dropping time of 30 is 1.
The dropping time of 32 is 1.
The dropping time of 34 is 1.
The dropping time of 36 is 1.
The dropping time of 38 is 1.
The dropping time of 40 is 1.
The dropping time of 42 is 1.
The dropping time of 44 is 1.
The dropping time of 46 is 1.
The dropping time of 48 is 1.
The dropping time of 50 is 1.
The dropping time of 52 is 1.
The dropping time of 54 is 1.
The dropping time of 56 is 1.
The dropping time of 58 is 1.
The dropping time of 60 is 1.
The dropping time of 62 is 1.
The dropping time of 64 is 1.
The dropping time of 66 is 1.
The dropping time of 68 is 1.
The dropping time of 70 is 1.
The dropping time of 72 is 1.
The dropping time of 74 is 1.
The dropping time of 76 is 1.
The dropping time of 78 is 1.
The dropping time of 80 is 1.
The dropping time of 82 is 1.
The dropping time of 84 is 1.
The dropping time of 86 is 1.
The dropping time of 88 is 1.
The dropping time of 90 is 1.
The dropping time of 92 is 1.
The dropping time of 94 is 1.
The dropping time of 96 is 1.
The dropping time of 98 is 1.
The dropping time of 100 is 1.

In [15]:
for a in range(5, 101, 4): # n = 1(mod 4)
  print("The dropping time of {} is {}.".format(a, dropping_time(a)))

The dropping time of 5 is 3.
The dropping time of 9 is 3.
The dropping time of 13 is 3.
The dropping time of 17 is 3.
The dropping time of 21 is 3.
The dropping time of 25 is 3.
The dropping time of 29 is 3.
The dropping time of 33 is 3.
The dropping time of 37 is 3.
The dropping time of 41 is 3.
The dropping time of 45 is 3.
The dropping time of 49 is 3.
The dropping time of 53 is 3.
The dropping time of 57 is 3.
The dropping time of 61 is 3.
The dropping time of 65 is 3.
The dropping time of 69 is 3.
The dropping time of 73 is 3.
The dropping time of 77 is 3.
The dropping time of 81 is 3.
The dropping time of 85 is 3.
The dropping time of 89 is 3.
The dropping time of 93 is 3.
The dropping time of 97 is 3.

In [16]:
for a in range(3, 103, 4): # n = 3(mod 4)
  print("The dropping time of {} is {}.".format(a, dropping_time(a)))

The dropping time of 3 is 6.
The dropping time of 7 is 11.
The dropping time of 11 is 8.
The dropping time of 15 is 11.
The dropping time of 19 is 6.
The dropping time of 23 is 8.
The dropping time of 27 is 96.
The dropping time of 31 is 91.
The dropping time of 35 is 6.
The dropping time of 39 is 13.
The dropping time of 43 is 8.
The dropping time of 47 is 88.
The dropping time of 51 is 6.
The dropping time of 55 is 8.
The dropping time of 59 is 11.
The dropping time of 63 is 88.
The dropping time of 67 is 6.
The dropping time of 71 is 83.
The dropping time of 75 is 8.
The dropping time of 79 is 13.
The dropping time of 83 is 6.
The dropping time of 87 is 8.
The dropping time of 91 is 73.
The dropping time of 95 is 13.
The dropping time of 99 is 6.

In [17]:
for a in range(3, 500, 16): # n = 3(mod 16)
  print("The dropping time of {} is {}.".format(a, dropping_time(a)))

The dropping time of 3 is 6.
The dropping time of 19 is 6.
The dropping time of 35 is 6.
The dropping time of 51 is 6.
The dropping time of 67 is 6.
The dropping time of 83 is 6.
The dropping time of 99 is 6.
The dropping time of 115 is 6.
The dropping time of 131 is 6.
The dropping time of 147 is 6.
The dropping time of 163 is 6.
The dropping time of 179 is 6.
The dropping time of 195 is 6.
The dropping time of 211 is 6.
The dropping time of 227 is 6.
The dropping time of 243 is 6.
The dropping time of 259 is 6.
The dropping time of 275 is 6.
The dropping time of 291 is 6.
The dropping time of 307 is 6.
The dropping time of 323 is 6.
The dropping time of 339 is 6.
The dropping time of 355 is 6.
The dropping time of 371 is 6.
The dropping time of 387 is 6.
The dropping time of 403 is 6.
The dropping time of 419 is 6.
The dropping time of 435 is 6.
The dropping time of 451 is 6.
The dropping time of 467 is 6.
The dropping time of 483 is 6.
The dropping time of 499 is 6.

In [18]:
for a in range(11,1000,32): # n = 11(mod 32)
  print("The dropping time of {} is {}.".format(a, dropping_time(a)))

The dropping time of 11 is 8.
The dropping time of 43 is 8.
The dropping time of 75 is 8.
The dropping time of 107 is 8.
The dropping time of 139 is 8.
The dropping time of 171 is 8.
The dropping time of 203 is 8.
The dropping time of 235 is 8.
The dropping time of 267 is 8.
The dropping time of 299 is 8.
The dropping time of 331 is 8.
The dropping time of 363 is 8.
The dropping time of 395 is 8.
The dropping time of 427 is 8.
The dropping time of 459 is 8.
The dropping time of 491 is 8.
The dropping time of 523 is 8.
The dropping time of 555 is 8.
The dropping time of 587 is 8.
The dropping time of 619 is 8.
The dropping time of 651 is 8.
The dropping time of 683 is 8.
The dropping time of 715 is 8.
The dropping time of 747 is 8.
The dropping time of 779 is 8.
The dropping time of 811 is 8.
The dropping time of 843 is 8.
The dropping time of 875 is 8.
The dropping time of 907 is 8.
The dropping time of 939 is 8.
The dropping time of 971 is 8.

In [19]:
for num in range(23,1000,32): # n = 23(mod 32)
  print("The dropping time of {} is {}.".format(num, dropping_time(num)))

The dropping time of 23 is 8.
The dropping time of 55 is 8.
The dropping time of 87 is 8.
The dropping time of 119 is 8.
The dropping time of 151 is 8.
The dropping time of 183 is 8.
The dropping time of 215 is 8.
The dropping time of 247 is 8.
The dropping time of 279 is 8.
The dropping time of 311 is 8.
The dropping time of 343 is 8.
The dropping time of 375 is 8.
The dropping time of 407 is 8.
The dropping time of 439 is 8.
The dropping time of 471 is 8.
The dropping time of 503 is 8.
The dropping time of 535 is 8.
The dropping time of 567 is 8.
The dropping time of 599 is 8.
The dropping time of 631 is 8.
The dropping time of 663 is 8.
The dropping time of 695 is 8.
The dropping time of 727 is 8.
The dropping time of 759 is 8.
The dropping time of 791 is 8.
The dropping time of 823 is 8.
The dropping time of 855 is 8.
The dropping time of 887 is 8.
The dropping time of 919 is 8.
The dropping time of 951 is 8.
The dropping time of 983 is 8.

If $n ≡ 1($mod $4)$, the dropping time will always be $3$.  This is because we can write $n$ as $4a+1$ for some integer $a$.  After one step, we have $3(4a+1)+1 = 12a + 4$ Since $12a +4$ is even, we next have $6a+2$ and then $3a + 1$.  Since $3a +1 < 4a +1$, the dropping time will always be $3$ for these integers.

For $n ≡3($mod $4)$, the dropping times do not seem to follow any pattern.  However, if $n≡3($mod $16)$, the dropping time will always be $6$.  This is because we have $16a +3 → 3(16a+3)+1 = 48a + 10 → 24a+5 → 3(24a+5) +1 = 72a+16 → 36a +8 → 18a +4 → 9a+2.$

Moreover, for $n ≡11($mod $32)$ and $n ≡23($mod $32)$, the dropping time of $n$ will always be $8$.

### Changing $3n + 1$ to $3n - 1$ without changing the even/odd criteria

From the second section, we found that the $3n + 1$ conjecture does not apply to negative integers. However, is there any rule that applied for the negative numbers?  In this section, we will change the $3n + 1$ rule and explore it. \\

For all **positive** integers $n$, 
$$\begin{align}
n_{k+1} & = \frac{n_k}{2} & \text{ if } n_k \text{ is even,} \\
n_{k+1} & = 3n_k + 1 &  \text{ if } n_k \text{ is odd.}
\end{align}$$

Suppose the $3n + 1$ conjecture applies to all negative numbers, then 

$$\begin{align}
-n_{k+1} & = \frac{-n_k}{2} & \text{ if } n_k \text{ is even,} \\
-n_{k+1} & = 3(-n_k) + 1 &  \text{ if } n_k \text{ is odd.}
\end{align}$$

Now we multiple both sides of the equations by $-1$, we obtain that, for all **negative** integers $n$,

$$\begin{align}
n_{k+1} & = \frac{n_k}{2} & \text{ if } n_k \text{ is even,} \\
n_{k+1} & = 3n_k - 1 &  \text{ if } n_k \text{ is odd.}
\end{align}$$

Now let us implement this conjecture in Python.

In [20]:
def conjecture_3(n):

  print("Let's start with {}.".format(n))
  i = 0 
  
  while n < -1: # n is a negative integer 

    i += 1 # loop 

    if n % 2 == 0: # n is even 

      new_n = n / 2
      print("{} loop: {} / 2 = {}".format(i, int(n), int(new_n)))
      n = new_n

    else: # n is odd

      new_n = 3*n - 1
      print("{} loop: 3 * {} - 1 = {}".format(i, int(n), int(new_n)))
      n = new_n

In [21]:
conjecture_3(-9)

Let's start with -9.
1 loop: 3 * -9 - 1 = -28
2 loop: -28 / 2 = -14
3 loop: -14 / 2 = -7
4 loop: 3 * -7 - 1 = -22
5 loop: -22 / 2 = -11
6 loop: 3 * -11 - 1 = -34
7 loop: -34 / 2 = -17
8 loop: 3 * -17 - 1 = -52
9 loop: -52 / 2 = -26
10 loop: -26 / 2 = -13
11 loop: 3 * -13 - 1 = -40
12 loop: -40 / 2 = -20
13 loop: -20 / 2 = -10
14 loop: -10 / 2 = -5
15 loop: 3 * -5 - 1 = -16
16 loop: -16 / 2 = -8
17 loop: -8 / 2 = -4
18 loop: -4 / 2 = -2
19 loop: -2 / 2 = -1

**Findings:**\
We notice that if we only change the rules from $3n+1$ to $3n-1$ for negative numbers, the sequence will eventually reach the cycle $-4,-2,-1....$, which is similar to the pattern for positive numbers.

### Changing $3n+1$ to $2n+1$ and $\frac{n}{2}$ to $\frac{n}{3}$ with changing the even/odd criteria

Here, we only consider positive integers n.\
Rules: any number not divisible by 3 will be replaced by $2n+1$, and any number divisible by 3 will be replaced by $\frac{n}{3}$.

$$\begin{align}
n_{k+1} & = 2n_k + 1 & \text{ if } & n_k \ mod \ 3 \neq 0\\
n_{k+1} & =\frac{n_k}{3} & \text{ if } & n_k \ mod \ 3 = 0 
\end{align}$$

In [22]:
for n in range(1, 101):
  i = 0
  m = n
  while n !=1:
    if n % 3 == 0:
      n = n/3
      i +=1 
    else:
      n = 2*n +1
      i +=1
    if i > 10000:
      print(f"The number {m} does not reach 1.")
      break
  if i <= 10000:
    print(f"The number {m} takes {i} steps to reach 1.")

The number 1 takes 0 steps to reach 1.
The number 2 does not reach 1.
The number 3 takes 1 steps to reach 1.
The number 4 takes 3 steps to reach 1.
The number 5 does not reach 1.
The number 6 does not reach 1.
The number 7 does not reach 1.
The number 8 does not reach 1.
The number 9 takes 2 steps to reach 1.
The number 10 does not reach 1.
The number 11 does not reach 1.
The number 12 takes 4 steps to reach 1.
The number 13 takes 4 steps to reach 1.
The number 14 does not reach 1.
The number 15 does not reach 1.
The number 16 does not reach 1.
The number 17 does not reach 1.
The number 18 does not reach 1.
The number 19 takes 6 steps to reach 1.
The number 20 does not reach 1.
The number 21 does not reach 1.
The number 22 does not reach 1.
The number 23 does not reach 1.
The number 24 does not reach 1.
The number 25 does not reach 1.
The number 26 does not reach 1.
The number 27 takes 3 steps to reach 1.
The number 28 takes 8 steps to reach 1.
The number 29 does not reach 1.
The number 30 does not reach 1.
The number 31 does not reach 1.
The number 32 does not reach 1.
The number 33 does not reach 1.
The number 34 does not reach 1.
The number 35 does not reach 1.
The number 36 takes 5 steps to reach 1.
The number 37 does not reach 1.
The number 38 does not reach 1.
The number 39 takes 5 steps to reach 1.
The number 40 takes 5 steps to reach 1.
The number 41 does not reach 1.
The number 42 does not reach 1.
The number 43 does not reach 1.
The number 44 does not reach 1.
The number 45 does not reach 1.
The number 46 does not reach 1.
The number 47 does not reach 1.
The number 48 does not reach 1.
The number 49 does not reach 1.
The number 50 does not reach 1.
The number 51 does not reach 1.
The number 52 does not reach 1.
The number 53 does not reach 1.
The number 54 does not reach 1.
The number 55 does not reach 1.
The number 56 does not reach 1.
The number 57 takes 7 steps to reach 1.
The number 58 takes 7 steps to reach 1.
The number 59 does not reach 1.
The number 60 does not reach 1.
The number 61 does not reach 1.
The number 62 does not reach 1.
The number 63 does not reach 1.
The number 64 does not reach 1.
The number 65 does not reach 1.
The number 66 does not reach 1.
The number 67 does not reach 1.
The number 68 does not reach 1.
The number 69 does not reach 1.
The number 70 does not reach 1.
The number 71 does not reach 1.
The number 72 does not reach 1.
The number 73 does not reach 1.
The number 74 does not reach 1.
The number 75 does not reach 1.
The number 76 does not reach 1.
The number 77 does not reach 1.
The number 78 does not reach 1.
The number 79 does not reach 1.
The number 80 does not reach 1.
The number 81 takes 4 steps to reach 1.
The number 82 does not reach 1.
The number 83 does not reach 1.
The number 84 takes 9 steps to reach 1.
The number 85 takes 9 steps to reach 1.
The number 86 does not reach 1.
The number 87 does not reach 1.
The number 88 does not reach 1.
The number 89 does not reach 1.
The number 90 does not reach 1.
The number 91 does not reach 1.
The number 92 does not reach 1.
The number 93 does not reach 1.
The number 94 does not reach 1.
The number 95 does not reach 1.
The number 96 does not reach 1.
The number 97 does not reach 1.
The number 98 does not reach 1.
The number 99 does not reach 1.
The number 100 does not reach 1.

Here we notice that there exists a loop between 3 and 1.  It is also apparent from the code above that some numbers will never reach this loop and likely reach greater and greater integers.  In the code, we assumed that numbers that took more than 10000 steps to reach 1 would never do so, which is a  safe assumption for the first 100 integers. However, we can also prove this mathematically for some integers.  For example, numbers with remainder 2 modulo 3 will increase with every step.  Suppose $n = 3a +2$ for integer $a$.  Then after one step we have $2(3a+2)+1 = 6a +5$.  However, this is also equivalent to 2 modulo 3. Therefore, numbers in this equivalence class will never leave it and will become greater with every step.

For numbers not in this equivalence class, behavior is quite unpredictable.  Numbers of the form $3a$ can reach any equivalence class after 1 step.  Numbers of the form $3a+1$ will reach the equivalence class of 0 modulo 3 after 1 step and therefore any equivalence class after 2 steps.

###Changing the even/odd criteria

Begin with a positive integer n. If $n \ mod \ 3 = 0$, replace it by $3n+1$. If $n \ mod \ 3 = 1$, replace it by $3n-1$. If $n \ mod \ 3 = 2$, replace it by $n-3$. We will stop the sequence after it becomes negative.

$$\begin{align}
n_{k+1} &= 3n_k + 1 & \text{ if } & n_k \ mod \ 3 = 0\\
n_{k+1} &= 3n_k - 1 & \text{ if } & n_k \ mod \ 3 = 1\\
n_{k+1} &= n - 3 & \text{ if } & n_k \ mod \ 3 = 2
\end{align}$$

In [23]:
def conjec_2(n):
  list = []
  while n > 0: #This step allows the sequence to stop after becoming negative.
    if n > 100000:
      print('The sequence doesnt reach the cycle.') #If the sequence continues increasing, we can stop it
      break
    else:
      if n % 3 == 0: #if n mod 3 = 0
        n = 3 * n + 1
      elif n % 3 == 1: #if n mod 3 = 1
        n = 3 * n - 1
      else: #if n mod 3 = 2
        n = n - 3
      list.append(int(n)) #add the integer form of n into the empty list
  return list

In [24]:
conjec_2(19)

[56, 53, 50, 47, 44, 41, 38, 35, 32, 29, 26, 23, 20, 17, 14, 11, 8, 5, 2, -1]

In [25]:
conjec_2(30)

[91,
 272,
 269,
 266,
 263,
 260,
 257,
 254,
 251,
 248,
 245,
 242,
 239,
 236,
 233,
 230,
 227,
 224,
 221,
 218,
 215,
 212,
 209,
 206,
 203,
 200,
 197,
 194,
 191,
 188,
 185,
 182,
 179,
 176,
 173,
 170,
 167,
 164,
 161,
 158,
 155,
 152,
 149,
 146,
 143,
 140,
 137,
 134,
 131,
 128,
 125,
 122,
 119,
 116,
 113,
 110,
 107,
 104,
 101,
 98,
 95,
 92,
 89,
 86,
 83,
 80,
 77,
 74,
 71,
 68,
 65,
 62,
 59,
 56,
 53,
 50,
 47,
 44,
 41,
 38,
 35,
 32,
 29,
 26,
 23,
 20,
 17,
 14,
 11,
 8,
 5,
 2,
 -1]

In [26]:
def conjec_3(n): #create a new function that only returns the last number
  list = []
  while n > 0: #This step allows the sequence to stop after becoming negative.
    if n > 100000:
      print('The sequence doesnt reach the cycle.') #If the sequence continues increasing, we can stop it
      break
    else:
      if n % 3 == 0: #if n mod 3 = 0
        n = 3 * n + 1
      elif n % 3 == 1: #if n mod 3 = 1
        n = 3 * n - 1
      else: #if n mod 3 = 2
        n = n - 3
      list.append(int(n)) #add the integer form of n into the empty list

  return ("The last number in this sequence is", list[-1:-2:-1])

In [27]:
for x in range(100):
  print(conjec_3(x))

('The last number in this sequence is', [])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])
('The last number in this sequence is', [-1])

**Findings:**\
If we change the conjecture in this way, no matter what positive integers we pick, the sequence will always follow the same "route" and end at -1.